import pandas as  pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
data = pd.read_excel('C:/Users/NAVYA .P/Desktop/360digitmg_assignments/5th assignment/EastWestAirlines.xlsx','data')

In [6]:
data.drop('ID#', inplace = True, axis  =1) # removing the first column

# datapre-processing
# performing standardization on whole data.
df = StandardScaler().fit_transform(data[['Balance', 'Qual_miles', 'cc1_miles', 'cc2_miles', 'cc3_miles',
       'Bonus_miles', 'Bonus_trans', 'Flight_miles_12mo', 'Flight_trans_12',
       'Days_since_enroll']])
df = pd.DataFrame(df)
df['Award?'] = data['Award?'].values
df.columns = ['Balance', 'Qual_miles', 'cc1_miles', 'cc2_miles', 'cc3_miles',
       'Bonus_miles', 'Bonus_trans', 'Flight_miles_12mo', 'Flight_trans_12',
       'Days_since_enroll','Award']
df

,Balance,Qual_miles,cc1_miles,cc2_miles,cc3_miles,Bonus_miles,Bonus_trans,Flight_miles_12mo,Flight_trans_12,Days_since_enroll,Award
0,-0.451141,-0.186299,-0.769578,-0.098242,-0.062767,-0.702786,-1.104065,-0.328603,-0.362168,1.395454,0
1,-0.539457,-0.186299,-0.769578,-0.098242,-0.062767,-0.701088,-0.999926,-0.328603,-0.362168,1.379957,0
2,-0.320031,-0.186299,-0.769578,-0.098242,-0.062767,-0.539253,-0.791649,-0.328603,-0.362168,1.411920,0
3,-0.583799,-0.186299,-0.769578,-0.098242,-0.062767,-0.689286,-1.104065,-0.328603,-0.362168,1.372208,0
4,0.239678,-0.186299,1.409471,-0.098242,-0.062767,1.083121,1.499394,1.154932,0.692490,1.363975,1
...,...,...,...,...,...,...,...,...,...,...,...
3994,0.684037,1.106414,-0.769578,13.448976,-0.062767,0.287650,3.686300,2.992744,5.965781,-0.441944,1
3995,-0.086116,-0.186299,-0.769578,13.448976,-0.062767,-0.090022,0.145596,-0.328603,-0.362168,-1.031325,0
3996,-0.500226,-0.186299,-0.769578,13.448976,-0.062767,-0.271570,0.145596,-0.221463,-0.098503,-1.148524,0
3997,-0.360264,-0.186299,-0.769578,13.448976,-0.062767,0.273943,0.770426,-0.328603,-0.362168,-1.667199,0
3998,-0.374654,-0.186299,-0.769578,13.448976,-0.062767,0.025433,0.666288,-0.328603,-0.362168,-0.329104,0

In [15]:
# Kmeans algorithm
kmeans = KMeans(n_clusters=4)

y = kmeans.fit_predict(df)

df['Cluster'] = y
df1 = df.iloc[:, [11,0,1,2,3,4,5,6,7,8,9,10]]

print(df1.head(15))

    Cluster   Balance  Qual_miles  cc1_miles  cc2_miles  cc3_miles  \
0         2 -0.451141   -0.186299  -0.769578  -0.098242  -0.062767
1         2 -0.539457   -0.186299  -0.769578  -0.098242  -0.062767
2         2 -0.320031   -0.186299  -0.769578  -0.098242  -0.062767
3         2 -0.583799   -0.186299  -0.769578  -0.098242  -0.062767
4         0  0.239678   -0.186299   1.409471  -0.098242  -0.062767
5         2 -0.567483   -0.186299  -0.769578  -0.098242  -0.062767
6         0  0.112270   -0.186299   0.683121  -0.098242  -0.062767
7         2 -0.523459   -0.186299  -0.769578  -0.098242  -0.062767
8         0  0.310220   -0.186299   0.683121  -0.098242  -0.062767
9         2 -0.332566   -0.186299  -0.043229  -0.098242  -0.062767
10        0  0.227471   -0.186299   2.135821  -0.098242  -0.062767
11        0 -0.299905   -0.186299  -0.043229  -0.098242  -0.062767
12        2 -0.302733   -0.186299  -0.769578  -0.098242  -0.062767
13        2 -0.555296   -0.186299  -0.769578  -0.098242  -0.062767
14        0 -0.447647   -0.186299   1.409471  -0.098242  -0.062767

    Bonus_miles  Bonus_trans  Flight_miles_12mo  Flight_trans_12  \
0     -0.702786    -1.104065          -0.328603        -0.362168
1     -0.701088    -0.999926          -0.328603        -0.362168
2     -0.539253    -0.791649          -0.328603        -0.362168
3     -0.689286    -1.104065          -0.328603        -0.362168
4      1.083121     1.499394           1.154932         0.692490
5     -0.709992    -1.208203          -0.328603        -0.362168
6      0.428076     1.395256          -0.328603        -0.362168
7     -0.492582    -0.791649          -0.150036        -0.098503
8      0.467168     1.707671           0.492805         0.428826
9     -0.408600    -0.166819          -0.328603        -0.362168
10     1.820451     0.770426          -0.328603        -0.362168
11    -0.248255     0.874564          -0.328603        -0.362168
12    -0.575074    -0.583373          -0.328603        -0.362168
13    -0.709992    -1.208203          -0.328603        -0.362168
14     1.337470     0.353873          -0.328603        -0.362168

    Days_since_enroll  Award
0            1.395454      0
1            1.379957      0
2            1.411920      0
3            1.372208      0
4            1.363975      1
5            1.367365      0
6            1.392549      0
7            1.365428      1
8            1.362038      1
9            1.375598      0
10           1.358648      1
11           1.358648      0
12           1.355743      0
13           1.352837      0
14           1.352837      1